---
layout: page
title: /uses
sticker: svg/sticker-tech.svg
---

<article class="--main prose-flow">
  <h2 class="section-header">Hardware</h2>
  <ul>
    <li>Apple MacBook Pro 2023 (M2 Pro), 14inch</li>
    <li>Apple iPhone 17 Pro</li>
    <li>Apple iPad Mini (6th gen)</li>
    <li>Apple Magic Trackpad 2 & Logitech MX Anywhere 3S</li>
    <li>Apple Airpods Pro 2</li>
    <li>Nuphy Air65 V3</li>
    <li>Twelve South Curve SE</li>
  </ul>

  <h2 class="section-header">Productivity Software</h2>
  <ul>
    <li>
      <b><a href="https://culturedcode.com">Things</a></b>: the core task manager that runs my life (although I keep switching between Apple Reminders with <a href="https://apps.apple.com/us/app/remind-me-faster/id985555908">Remind me Faster</a> and this)
    </li>
    <li>
      <b>Apple Notes></b>: all my knowledge, meeting notes, project overviews, etc. are stored here (I am also a big fan of <a href="https://bear.app">Bear</a> and <a href="https://tot.rocks">Tot</a>, but opted to look for Apple Notes to combine the two)
    </li>
    <li>
      <b>Apple Calendar</b>: more than suffices for my need of a
      calendar.
    </li>
    <li>
      <b>Apple Mail</b>: more than suffices for my need of a mail
      client.
    </li>
    <li>
      <b><a href="https://maccy.app">Maccy</a></b>: a clipboard manager that
      makes it a lot easier to do a lot of copy+paste.
    </li>
    <li>
      <b><a href="https://www.goldenhillsoftware.com/unread/">Unread</a></b>: for
      the little bit of RSS I use.
    </li>
    <li>
      <b><a href="https://helloweather.com">Hello Weather</a></b>: beautiful
      weather app on all platforms.
    </li>
  </ul>

  <h2 class="section-header">Code & Design</h2>
  <ul>
    <li>
      <b><a href="https://zed.dev">Zed</a></b>: it is a nice fast editor, but I am
      not really tied to any particular editor.
    </li>
    <li>
      <b><a href="https://ghostty.org">Ghostty</a></b>: a nice looking terminal.
    </li>
    <li>
      <b><a href="https://vivaldi.com">Vivaldi</a></b>: every web developer needs a
      browser. This is mine.
    </li>
    <li>
      <b><a href="https://www.figma.com">Figma</a></b>: I am no designer. But what
      I do, I do in Figma (because its free, not gonna lie).
    </li>
    <li>
      <b>Codex</b>: at my work I am tasked with figuring out what AI means for the future of our company. For this, at the moment, I use Codex.
    </li>
  </ul>

  <h2 class="section-header">Games & Media</h2>
  <ul>
    <li>
      <b>Nintendo Switch 2</b>: my main gaming device (currently:
      <i>-</i>).
    </li>
    <li>
      <b>PlayStation 5</b>: collecting dust (kidding, my wife uses it, ... sometimes).
    </li>
    <li><b>Gamesir x5s</b>: makes my iPad Mini a handheld device.</li>
    <li><b>Netflix & Disney+</b>: must-haves for the kids.</li>
    <li>
      <b><a href="https://overcast.fm">Overcast</a></b>: for listening to my
      podcasts.
    </li>
    <li><b>Apple Music</b>: for the beats.</li>
  </ul>
</article>

<aside class="--side">
  {%- from 'partials/meta.njk' import metadata %}
  {{ metadata({ card: true }) }}
</aside>
